{% block footer %}
<!-- Footer -->
<footer class = 'footer sticky-bottom bg-dark'>
<div class = 'navbar'>
  <nav class= "navbar-expand-xl text-white bg-dark" >
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#about">About FSOL<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#transaction">Transaction Policy</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#resellers">Trusted Resellers</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#reviews">Reviews</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="
        https://web.facebook.com/fritz.olshop">Facebook Page</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Community</a>
      </li>
    </ul>
  </nav>

  <div class = 'copyright pull-right'>
    <a class = 'text-white' href = '#nav-top'> &copy; Fritzstone Online Shop |
      <script>
        document.write(new Date().getFullYear())
      </script>
    </a>
  </div>
</div>
</footer>

{% endblock %}
